# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# AWS credentials
*.pem
.env*

# Lambda build artifacts
api/lambda/package/
api/lambda/lambda_function.zip
awscliv2.zip
aws/
